.currentDate-wrapper{
    color: #3c4043;
    font-family: Google Sans,Roboto,Arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;

}