.quarter-of-an-hour{
    padding: 0;
    margin: 0;
    position: relative;
    height: calc((100% / 4));
  }
  .quarter-of-an-hour:hover{
    border: 1px solid rgb(194, 214, 239);
  }
  
  .hour-cell-wrapper{
      width: calc (100% - 50px);
            border: 1px solid lightgray;
            height: calc((100% / 26)) ;
            text-align: left;
            font-size: 10px;
            margin: 0 0 0 50px;
            cursor: pointer;
  }
  .hour-cell-wrapper:hover{
    border: 1px solid rgb(42, 110, 199);
  }
  .time{
    display: inline;
    position: absolute;
    padding: 0;
    margin-left: -30px;
  }
  .event-in-day-view {
    position: absolute;
    margin-left: 50px;
    width: 60%;
    background-color: rgb(156, 19, 191);
    color: white;
    opacity: .9;
  }
    