.eventDetails-wrapper {
	width: 500px;
	height: 200px;
	position: absolute;
	z-index: 999;
	box-shadow: 0 0 1em lightgray;
	background-color: white;
	padding: 20px;
	box-sizing: content-box;
}

.controls {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
	gap: 20px;
	cursor: move;
}
