.year-view-calendar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
}
.month-in-year-wrapper{
    width: calc(100%/4);
    font-size: .8em;
    padding: 20px;
}

h3 {
    margin: 0;
}