.day-cell {
	flex: 1;
	width: 25%;
	align-items: stretch;
	border: 1px solid rgb(237, 235, 235);
	overflow: auto;
	font-weight: 500;
	cursor: pointer;
	text-align: center;
}

.day-cell:hover {
	background-color: rgb(241, 245, 246);
}

.prevOrNextStyle {
	color: rgb(185, 183, 183);
}
.today {
	box-shadow:0px 0px 0px 2px #7982EC inset;
}
.small {
	border: none;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	overflow: hidden;
	font-weight: 400;
}
.day-cell .small {
	border: none;
}

.calendar-small-events{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: rgb(243, 132, 201);
	margin: 0 auto;
}

.badge {
	display: inline-block;
	padding: 2px 9px;
	background-color:white;
	color: black;
	border-radius: 50%
}


